
/* https://bbbootstrap.com/snippets/bootstrap-ecommerce-product-list-sidebar-filters-45421504
this is helpful for the sidebar structure */


body {
    margin: 0;
    padding: 0;
}

button {
    padding:10px;
    margin: 5px;
    border:0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);  
}


#sidebar {
    width: 20%;
    margin: 0px 10px 10px;
    padding-left: 10px;
    float: left;
    border: 5px solid black;
}

#sidebar h4 {
    font-family: ;
}

#recipe-cards {
    width: 75%;
    margin: 0;
    float: right;
}





/* RECIPE CARDS GRID */

.recipe-card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    max-width: 250px;
}

.card p {
    font-size: 18px;
}


.recipe-card-image {
    max-width: 250px;
}

.recipe-card-source {
    font-size: 12px;
    color: grey;
    text-decoration: none;
}

.recipe-card-source a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
}







/* Hero Header */

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://res.cloudinary.com/gymstreak/image/fetch/c_fit,q_auto,f_auto,dpr_auto/https://blog.gymstreak.com/content/images/size/w2000/2019/11/rustic-assortment-of-paleo-foods-including-eggs-9HB6DYC.jpg);
    /* background: url(https://hips.hearstapps.com/hmg-prod/images/what-is-paleo-1610638010.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}

.hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}